# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Deploy Laravel to Azure

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, bcmath, gd, openssl, pdo, pdo_mysql

    - name: Install Composer Dependencies
      run: composer install --no-dev --optimize-autoloader

    - name: Cache Laravel configuration
      run: php artisan config:cache

    - name: Create deployment ZIP (excluye .env)
      run: zip -r deploy.zip . -x "*.git*" "*.github*" ".env"

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: laravel-build
        path: deploy.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: php-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_89C28E756ED54945884A0934F951F922 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_71BC0174D5DD41D49B6EF063786E91CF }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7E61F77CC98447EA967BE0D7E719AB97 }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'proyectoSec'
          slot-name: 'Production'
          package: .          